body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* TEXT */
.text-center{ text-align: center;}

/* DISPLAY */
.d-grid{ display: grid; }
.d-flex{ display: flex; }
.d-block{ display: block; }

/* JUSTIFY */
.self-center{ justify-self: center; }
.content-center{ justify-content: center; }
.content-between{ justify-content: space-between; }
.content-around{ justify-content: space-around; }

/* MARGINS */
.mt-8{ margin-top: 8px; }
.mb-8{ margin-bottom: 8px; }
.ml-8{ margin-left: 8px; }
.mr-8{ margin-right: 8px; }

.mt-16{ margin-top: 16px; }
.mb-16{ margin-bottom: 16px; }
.ml-16{ margin-left: 16px; }
.mr-16{ margin-right: 16px; }

.my-8 { margin-top: 8px; margin-bottom: 8px;}
.mx-8 { margin-left: 8px; margin-right: 8px;}

.my-16 { margin-top: 16px; margin-bottom: 16px;}
.mx-16 { margin-left: 16px; margin-right: 16px;}

/* ADDITIONAL CLASS */
.space-evenly{
  display: flex;
  justify-content: space-evenly;
}